In [1]:
% run utils.ipynb

In [4]:
df = pd.read_csv('../data/uwn.tsv', sep='\t', header=None)
df.columns = ['src', 'rel', 'to', 'weight']
df.head()

              src        rel            to    weight
0  t/xmf/ბულგარულ  rel:means  language/bul  1.187343
1  t/xmf/ბულგარულ  rel:means    s/n9695620  1.224455
2  t/xmf/ინგლისურ  rel:means    s/n6155432  0.938639
3  t/xmf/ინგლისურ  rel:means    s/n6947032  1.220780
4   t/xmf/ფრანგულ  rel:means  language/fra  1.337511

In [31]:
synonyms = df[['src', 'rel', 'to']]
synonyms = synonyms[synonyms.rel != 'rel:means']
synonyms = synonyms[['src' ,'to']]
synonyms.head()

           src                       to
13  s/n9002814            t/tha/รัสเซีย
14  s/n9002814  t/tur/Rusya Federasyonu
15  s/n9002814              t/arb/روسيا
16  s/n9002814              t/ara/روسيا
17  s/n9002814              t/vol/Rusän

In [112]:
synonymDict = dict()

In [113]:
for triplet in synonyms.values:
    tmp = synonymDict.get(triplet[0])
    if tmp == None:
        tmp = []
    parts = triplet[1].split('/')
    tmp.append((parts[1], parts[2]))
    synonymDict[triplet[0]] = tmp

In [114]:
out = []

In [115]:
for key, value in synonymDict.items():
    for synTuple in value:
        syns = synonymDict[key].copy()
        syns.remove(synTuple)
        out.append((synTuple, syns))